# IP(s) of Elasticsearch hosts to send data to 
es_hosts=[ 'http://192.168.100.150:9200' ]
# What gateway or host you would like to ping for the pingtest 
ping_host=172.16.0.1
# What is the name of your machine (as it will show up in the dashboard)
machine_name=nickmac